.header {
  color: grey;
  font-family: cursive;
  text-align: center;
}
.header__button {
  background: pink;
  outline-style: dashed;
  outline-color: red;
}
.header__text {
  font-weight: bold;
  color: black;
}
.section__title {
  font-family: cursive;
  text-decoration: underline;
}
.section__button {
  background: lightcoral;
}
.section__text {
  font-weight: 200;
  font-family: monospace;
}
.footer__text {
  color: grey;
  font-weight: 600;
}
.footer__button {
  background: mistyrose;
}
.footer__socials {
  border: 3px solid grey;
}

